<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广场</title>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="vendor.js"></script>
<script type="text/javascript" src="square.js"></script>
</body>
</html>
